force-app/main/default/flows/CompetitorPriceRecordFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Decision_WhetherReordExist</name>
        <label>레코드존재여부파악</label>
        <locationX>296</locationX>
        <locationY>310</locationY>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>NotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CJCompetitorPriceReocrdId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCJOilPriceRecord</targetReference>
            </connector>
            <label>현월 경쟁사 가격 無</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentYear</name>
        <dataType>String</dataType>
        <expression>Text(Year(Today()))</expression>
    </formulas>
    <formulas>
        <name>fm_1stDayofCurrentMonlth</name>
        <dataType>Date</dataType>
        <expression>Date(Year(Today()),Month(Today()),1)</expression>
    </formulas>
    <formulas>
        <name>fm_CompetitorPriceName</name>
        <dataType>String</dataType>
        <expression>Text(Year(Today()))&amp;&quot;년&quot;&amp;&quot; &quot;&amp;Text(Month(Today()))&amp;&quot;월&quot;&amp;&quot; &quot;&amp;{!$Record.Name}&amp;&quot; 가격&quot;</expression>
    </formulas>
    <formulas>
        <name>fm_CurrentMonthVariable</name>
        <dataType>String</dataType>
        <expression>Text(Month(Today()))</expression>
    </formulas>
    <interviewLabel>경쟁사가격레코드생성FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>경쟁사가격레코드생성FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCompetitorPrice</name>
        <label>현월 경쟁사 가격 정보 생성</label>
        <locationX>526</locationX>
        <locationY>481</locationY>
        <inputAssignments>
            <field>CJ__c</field>
            <value>
                <elementReference>CurrentMonthCJPriceReocrdIdVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>KRW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month__c</field>
            <value>
                <elementReference>fm_CurrentMonthVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fm_CompetitorPriceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>CurrentYear</elementReference>
            </value>
        </inputAssignments>
        <object>CompetitorPrice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCJOilPriceRecord</name>
        <label>현월 CJ해피 레코드 찾기</label>
        <locationX>282</locationX>
        <locationY>477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCompetitorPrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>fm_PriceEffectiveDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fm_1stDayofCurrentMonlth</elementReference>
            </value>
        </filters>
        <object>CJOilPrice__c</object>
        <outputAssignments>
            <assignToReference>CurrentMonthCJPriceReocrdIdVariable</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentMonthCompetitorPrice</name>
        <label>GetCurrentMonthCompetitorPrice</label>
        <locationX>316</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_WhetherReordExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Competitor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>fm_PriceEffectiveDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fm_1stDayofCurrentMonlth</elementReference>
            </value>
        </filters>
        <object>CompetitorPrice__c</object>
        <outputAssignments>
            <assignToReference>CJCompetitorPriceReocrdId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetCurrentMonthCompetitorPrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Competitor__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CJCompetitorPriceReocrdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentMonthCJPriceReocrdIdVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
