force-app/main/default/flows/DeleteEventRecordFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignDesccription</name>
        <label>Assign Desccription</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>ActivityDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormattedEventFields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTemporaryEvent</name>
        <label>Assign Temporary Event</label>
        <locationX>264</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>TemporaryEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Events.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TemporaryEvent.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Events.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignDesccription</targetReference>
        </connector>
    </assignments>
    <description>Event Record 삭제 시, 연결된 Activity Report Id 값을 가진 삭제된 Record를 제외한 모든 Event의 Description을 합친 후 Activity Report의 Descritpion__c에 업데이트.</description>
    <interviewLabel>Delete Event Record Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Event Record Flow</label>
    <loops>
        <name>Loop_Events</name>
        <label>Loop Events</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>SavingEvents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignTemporaryEvent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateActivity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityReport__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ActivityReport__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>SavingEvents</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Update Activity Description</description>
        <name>UpdateActivity</name>
        <label>Update Activity</label>
        <locationX>176</locationX>
        <locationY>887</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ActivityReport__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>ActivityDescription</elementReference>
            </value>
        </inputAssignments>
        <object>ActivityReport__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Events</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FormattedEventFields</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!TemporaryEvent.Subject}
{!TemporaryEvent.Description}
{!NewLine}
{!NewLine}</text>
    </textTemplates>
    <variables>
        <name>ActivityDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SavingEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>TemporaryEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
