force-app/main/default/flows/DisplayInstructorSchedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignNextMonth</name>
        <label>AssignNextMonth</label>
        <locationX>659</locationX>
        <locationY>775</locationY>
        <assignmentItems>
            <assignToReference>ChangeableMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignGivenMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignYear</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignYear</name>
        <label>AssignYear</label>
        <locationX>122</locationX>
        <locationY>797</locationY>
        <assignmentItems>
            <assignToReference>ChangeableYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignGivenYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExactMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignExactMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetInstructorEvents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfSchedulesExist</name>
        <label>CheckIfSchedulesExist</label>
        <locationX>660</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>DisplayScreen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistAndNotMonth12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInstructorEvents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChangeableMonth</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CountLimitMonth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayScreen1</targetReference>
            </connector>
            <label>ExistAndNotMonth12</label>
        </rules>
        <rules>
            <name>IsMonth12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangeableMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountLimitMonth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayScreen3</targetReference>
            </connector>
            <label>IsMonth12</label>
        </rules>
    </decisions>
    <formulas>
        <name>After12months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(Today(),12)</expression>
    </formulas>
    <formulas>
        <name>AssignExactMonth</name>
        <dataType>Number</dataType>
        <expression>If({!ChangeableMonth} &lt;=12, {!ChangeableMonth}, {!ChangeableMonth} - 12)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AssignGivenMonth</name>
        <dataType>Number</dataType>
        <expression>IF ({!ChangeableMonth}&gt;=({!CurrentMonth}+{!NumberOfMonth}), {!CurrentMonth}, {!ChangeableMonth}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AssignGivenYear</name>
        <dataType>Number</dataType>
        <expression>IF({!ChangeableMonth}&lt;13, {!CurrentYear},  {!CurrentYear} +1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ChangeableYeartoDisplay</name>
        <dataType>String</dataType>
        <expression>Text({!ChangeableYear})</expression>
    </formulas>
    <formulas>
        <name>CountLimitMonth</name>
        <dataType>Number</dataType>
        <expression>MONTH(TODAY()) + {!NumberOfMonth}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Get current month info</description>
        <name>CurrentMonth</name>
        <dataType>Number</dataType>
        <expression>Month(Today())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CurrentYear</name>
        <dataType>Number</dataType>
        <expression>Year (Today())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Get first day of given month</description>
        <name>FirstDayofMonth</name>
        <dataType>Date</dataType>
        <expression>IF(AND({!ExactMonth}={!CurrentMonth}, {!ChangeableYear}={!CurrentYear}), TODAY(), Date({!ChangeableYear}, {!ExactMonth}, 1))</expression>
    </formulas>
    <formulas>
        <description>Get last day of given month</description>
        <name>LastDayofMonth</name>
        <dataType>Date</dataType>
        <expression>Date({!ChangeableYear}, {!ExactMonth} + 1, 1) -1</expression>
    </formulas>
    <interviewLabel>DisplayInstructorSchedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DisplayInstructorSchedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAllEvents</name>
        <label>Get All Events</label>
        <locationX>359</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInstructorEvents</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 Or 4 Or 5)</filterLogic>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>After12months</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId.Instructor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId.Instructor2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId.Instructor3__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInstructorEvents</name>
        <label>GetInstructorEvents</label>
        <locationX>357</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfSchedulesExist</targetReference>
        </connector>
        <filterLogic>(1 or 2 or 3) and (4 and 5)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId.Instructor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId.Instructor2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId.Instructor3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FirstDayofMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>LastDayofMonth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DisplayScreen1</name>
        <label>DisplayScreen1</label>
        <locationX>770</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignNextMonth</targetReference>
        </connector>
        <fields>
            <name>DisplaySchedule</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 12, 12); font-size: 14px;&quot;&gt;{!ChangeableYeartoDisplay}년 {!ExactMonth}월의 강사 일정&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MonthlySchedule</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Event</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetInstructorEvents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;fm_OwnerLastname__c&quot;,&quot;guid&quot;:&quot;column-e6aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;강사명&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;OwnerLastname&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;WorkType__c&quot;,&quot;guid&quot;:&quot;column-578b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;업무유형&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;WorkType&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDateTime&quot;,&quot;guid&quot;:&quot;column-c77b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;시작일시&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;EndDateTime&quot;,&quot;guid&quot;:&quot;column-e2ce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;종료일시&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;End Date Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayScreen2</name>
        <label>DisplayScreen2</label>
        <locationX>483</locationX>
        <locationY>623</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignNextMonth</targetReference>
        </connector>
        <fields>
            <name>NoSchedule</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 12, 12); font-size: 14px;&quot;&gt;{!ChangeableYeartoDisplay}년 {!ExactMonth}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(240, 4, 4); font-size: 14px;&quot;&gt;월에 강사 일정이 없습니다&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayScreen3</name>
        <label>DisplayScreen3</label>
        <locationX>1050</locationX>
        <locationY>544</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LastMonthNotice</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(250, 8, 8);&quot;&gt;12개월치 일정만 검색가능합니다.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(250, 8, 8);&quot;&gt;현월 일정으로 돌아가려면 아래 &apos;마침&apos; 버튼 클릭 부탁드립니다.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>341</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>GetAllEvents</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Random month</description>
        <name>ChangeableMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>CurrentMonth</elementReference>
        </value>
    </variables>
    <variables>
        <name>ChangeableYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>CurrentYear</elementReference>
        </value>
    </variables>
    <variables>
        <name>ExactMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>CurrentMonth</elementReference>
        </value>
    </variables>
    <variables>
        <name>NumberOfMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceContents__c</objectType>
    </variables>
</Flow>
