force-app/main/default/flows/EventRecordFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignActivity</name>
        <label>Assign Activity</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormattedDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopEvents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEventSubjectDescripton</name>
        <label>Assign Event Subject Descripton</label>
        <locationX>270</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>DummyEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopEvents.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyEvent.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopEvents.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignActivity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckActivityReportID</name>
        <label>Check Activity Report ID</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_ActivityReport_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivityReport_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateActivityReport</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <description>영업활동 및 주유비를 입력하기 위한 프로세스를 구성하는 Flow. 
Event 생성 또는 Update 시 연결된 Activity Record 확인 후 생성/Update 후 
본 Event와 연관된 모든 Event의 Subject 및 Description Field를 Activity Record의 Description에 집어넣어줌</description>
    <formulas>
        <name>ActivityReportName</name>
        <dataType>String</dataType>
        <expression>Text({!EventStartDate})  &amp; &quot;/&quot; &amp; {!$User.LastName} &amp; &quot;/&quot; &amp; &quot;일일보고&quot;</expression>
    </formulas>
    <formulas>
        <name>EventStartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.StartDateTime})</expression>
    </formulas>
    <interviewLabel>EventRecordFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Record Flow</label>
    <loops>
        <name>LoopEvents</name>
        <label>Loop Events</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <collectionReference>Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignEventSubjectDescripton</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateActivityDescription</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateActivityReport</name>
        <label>Create Activity Report</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>ActivityReport_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_ActivityReport_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>EventStartDate__c</field>
            <value>
                <elementReference>EventStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ActivityReportName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>ActivityReport__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetActivityReport</name>
        <label>GetActivityReport</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckActivityReportID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventStartDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>ActivityReport__c</object>
        <outputAssignments>
            <assignToReference>ActivityReport_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedEvents</name>
        <label>Get Related Events</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopEvents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityReport__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivityReport_ID</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>Events</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_ActivityReport_Field</name>
        <label>Update ActivityReport_Field</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>GetRelatedEvents</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityReport__c</field>
            <value>
                <elementReference>ActivityReport_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateActivityDescription</name>
        <label>Update Activity Description</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivityReport_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <object>ActivityReport__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetActivityReport</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FormattedDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!DummyEvent.Subject}
{!DummyEvent.Description}
{!NewLine}
{!NewLine}</text>
    </textTemplates>
    <variables>
        <name>ActivityForLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ActivityReport__c</objectType>
    </variables>
    <variables>
        <name>ActivityReport_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DummyEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>Events</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>NewLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
