force-app/main/default/flows/ExtraServiceCreateMultiRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignDate</name>
        <label>AssignDate</label>
        <locationX>986</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>MultiDateVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceDate_ExtraChef</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyExtraService.MultiDate__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceDate_ExtraChef</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyExtraService.MultiDate__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br /&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MultiProgressTimeValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProgressTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionAddDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDateLoopValue</name>
        <label>AssignDateLoopValue</label>
        <locationX>1514</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>SingleDateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateRecordPerDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignProgressTimeLoopValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInfo</name>
        <label>AssignInfo</label>
        <locationX>643</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>RecordIdVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChefRolePicklistValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChefRolePicklistVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProgressTimeLoopValue</name>
        <label>AssignProgressTimeLoopValue</label>
        <locationX>1681</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>SingleProgressTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateRecordPerProgressTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateExtraServiceRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetData</name>
        <label>ResetData</label>
        <locationX>890</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>RecordIdVariable</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChefRolePicklistValue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>RegistSupportService</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChefSupportRadio</name>
        <choiceText>대체조리사</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>대체조리사</stringValue>
        </value>
    </choices>
    <choices>
        <name>CommoditySupportRadio</name>
        <choiceText>간식&amp;amp;물품 지원</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>간식물품지원</stringValue>
        </value>
    </choices>
    <choices>
        <name>SelectServiceType</name>
        <choiceText>대체조리사&lt;p&gt;간식 및 기물 지원&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>DecisionAddDate</name>
        <label>DecisionAddDate</label>
        <locationX>1191</locationX>
        <locationY>619</locationY>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>AddDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAddDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResetData</targetReference>
            </connector>
            <label>AddDate</label>
        </rules>
        <rules>
            <name>CreateRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAddDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopCreateRecordPerDate</targetReference>
            </connector>
            <label>CreateRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>SelectServiceTypeScreeen</name>
        <label>SelectServiceTypeScreeen</label>
        <locationX>287</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>SelectExtraChefSupport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectServiceTypeRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>대체조리사</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuerySubsituteChef</targetReference>
            </connector>
            <label>SelectExtraChefSupport</label>
        </rules>
        <rules>
            <name>SelectCommoditySupport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectServiceTypeRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>간식물품지원</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueryCommoditySupport</targetReference>
            </connector>
            <label>SelectCommoditySupport</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChefRolePicklistVariable</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ChefRole__c</picklistField>
        <picklistObject>ExtraService__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceCategoryPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ServiceCategory__c</picklistField>
        <picklistObject>ExtraService__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>서비스지원(대체조리사) 대량지원 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>서비스지원 플로</label>
    <loops>
        <name>LoopCreateRecordPerDate</name>
        <label>LoopCreateRecordPerDate</label>
        <locationX>1353</locationX>
        <locationY>623</locationY>
        <collectionReference>MultiDateVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopCreateRecordPerProgressTime</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopCreateRecordPerProgressTime</name>
        <label>LoopCreateRecordPerProgressTime</label>
        <locationX>1351</locationX>
        <locationY>401</locationY>
        <collectionReference>MultiProgressTimeValue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignDateLoopValue</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateExtraServiceRecord</name>
        <label>CretaeExtraServiceRecord</label>
        <locationX>1793</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>LoopCreateRecordPerDate</targetReference>
        </connector>
        <inputAssignments>
            <field>ChefRole__c</field>
            <value>
                <elementReference>ChefRolePicklistValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>CustomerLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgressTime__c</field>
            <value>
                <elementReference>SingleProgressTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate__c</field>
            <value>
                <elementReference>SingleDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>F</stringValue>
            </value>
        </inputAssignments>
        <object>ExtraService__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateExtraServiceRecord_0</name>
        <label>CretaeExtraServiceRecord</label>
        <locationX>50</locationX>
        <locationY>775</locationY>
        <inputAssignments>
            <field>ApplicantsNumber__c</field>
            <value>
                <elementReference>ApplicantsNumber_Commodity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>CustomerLookup_Commodity.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CommoditySupportRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>Remark_Commodity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceCategory__c</field>
            <value>
                <elementReference>ServiceCategory_Commodity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate__c</field>
            <value>
                <elementReference>ServiceDate_Commodity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>F</stringValue>
            </value>
        </inputAssignments>
        <object>ExtraService__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>QueryCommoditySupport</name>
        <label>QueryCommoditySupport</label>
        <locationX>52</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RegistCommoditySupport</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CommoditySupport</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CommoditySupportRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>QuerySubsituteChef</name>
        <label>QuerySubsituteChef</label>
        <locationX>423</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubstituteApplication1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SubstituteChefApplicant</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>RegistCommoditySupport</name>
        <label>RegistCommoditySupport</label>
        <locationX>75</locationX>
        <locationY>576</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateExtraServiceRecord_0</targetReference>
        </connector>
        <fields>
            <name>RegistCommoditySupportHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;간식&amp;amp;물품 지원&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RegistCommoditySupport_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RegistCommoditySupport_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceDate_Commodity</name>
                    <dataType>Date</dataType>
                    <fieldText>지원일자</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ServiceCategory_Commodity</name>
                    <choiceReferences>ServiceCategoryPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>지원 구분</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RegistCommoditySupport_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerLookup_Commodity</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ExtraService__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>고객사</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Customer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ApplicantsNumber_Commodity</name>
                    <dataType>String</dataType>
                    <fieldText>신청인원</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Remark_Commodity</name>
            <fieldText>비고</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RegistSupportService</name>
        <label>서비스지원 신청</label>
        <locationX>641</locationX>
        <locationY>570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignInfo</targetReference>
        </connector>
        <fields>
            <name>RegistSupportServiceHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;대체조리사 지원&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChoosedDate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;※ 선택한 일자&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;{!DateTextTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProgressTime</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>7.0</numberValue>
            </defaultValue>
            <fieldText>진행시간</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ServiceDate_ExtraChef</name>
            <dataType>Date</dataType>
            <fieldText>지원일자</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IsAddDate</name>
            <dataType>Boolean</dataType>
            <fieldText>날짜 추가</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectService</name>
        <label>SelectService</label>
        <locationX>293</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectServiceTypeScreeen</targetReference>
        </connector>
        <fields>
            <name>SelectServiceTypeRadio</name>
            <choiceReferences>ChefSupportRadio</choiceReferences>
            <choiceReferences>CommoditySupportRadio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>서비스 지원 종류 선택</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SubstituteApplication1</name>
        <label>대체조리사 신청</label>
        <locationX>460</locationX>
        <locationY>571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RegistSupportService</targetReference>
        </connector>
        <fields>
            <name>SubstituteApplication1Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;대체조리사 지원&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubstituteApplication1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SubstituteApplication1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ExtraService__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>고객사</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Customer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SubstituteApplication1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChefRole</name>
                    <choiceReferences>ChefRolePicklistVariable</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>구분</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>228</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SelectService</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DateTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!DummyExtraService.MultiDate__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ChefRolePicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommoditySupportRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DummyExtraService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExtraService__c</objectType>
    </variables>
    <variables>
        <name>IsAddDateVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MultiDateLoopValue</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MultiDateVariable</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MultiLoopProgressValue</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MultiProgressTimeValue</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MultiRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordIdVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleDateValue</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleProgressTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
