force-app/main/default/flows/ExtraServiceEmail_Noti.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CancelNoti</name>
        <label>CancelNoti</label>
        <locationX>645</locationX>
        <locationY>903</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecevierId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CancelNotiBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CancelEmailSubjectTemplate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CompleteNoti</name>
        <label>CompleteNoti</label>
        <locationX>1101</locationX>
        <locationY>906</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>CustomNotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CompleteNotiBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>CompleteEmailSubjectTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecevierId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendCancelEmail</name>
        <label>SendCancelEmail</label>
        <locationX>644</locationX>
        <locationY>717</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CancelNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CancelEmailBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>CancelEmailSubjectTemplate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendCompleteEmail</name>
        <label>SendCompleteEmail</label>
        <locationX>1097</locationX>
        <locationY>732</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CompleteNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CompleteEmailBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>CompleteEmailSubjectTemplate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignReceiverId_Cancel</name>
        <label>AssignReceiverId_Cancel</label>
        <locationX>601</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>RecevierId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ReceiverIdVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CancelOrComplete</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CancelOrComplete</name>
        <label>CancelOrComplete</label>
        <locationX>869</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>SendCompleteEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendCancelEmail</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
    </decisions>
    <formulas>
        <name>fm_CompleteEmailSubject</name>
        <dataType>String</dataType>
        <expression>Text(DateValue({!$Record.fm_ServiceEndDateTime__c}))</expression>
    </formulas>
    <formulas>
        <name>fm_RecordLink</name>
        <dataType>String</dataType>
        <expression>(LEFT( $Api.Enterprise_Server_URL_280,FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_280))) &amp; &quot;lightning/r/ExtraService__c/&quot; &amp; {!$Record.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>fm_StartDate</name>
        <dataType>String</dataType>
        <expression>Text(DateValue({!$Record.ServiceStartDateTime__c}))</expression>
    </formulas>
    <interviewLabel>부가서비스 완료/취소 이메일 전송 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>부가서비스 완료/취소 이메일 &amp; 알림 전송</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomNotification</name>
        <label>GetCustomNotification</label>
        <locationX>851</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignReceiverId_Cancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>CustomNotificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateStatus</name>
        <label>UpdateStatus</label>
        <locationX>843</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>GetCustomNotification</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Complete_Cancel__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>UpdateStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Complete_Cancel__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ExtraService__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CancelEmailBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>안녕하세요 {!ReceiverName}님

{!InstructorName}님께서 {!fm_StartDate}일에  {!$Record.Customer__r.Name} 고객사님께 제공하기로 예정된 {!$Record.ServiceContents__r.Name}을/를 취소하셨습니다.

취소 사유
{!$Record.Description__c}

부가서비스 내역의 세부 사항을 보려면 다음 링크를 클릭하십시오.
{!fm_RecordLink}</text>
    </textTemplates>
    <textTemplates>
        <name>CancelEmailSubjectTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[부가서비스 취소] / {!fm_StartDate} / {!$Record.Customer__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>CancelNotiBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!InstructorName}님께서 {!fm_StartDate}일에  {!$Record.Customer__r.Name} 고객사님께 제공하기로 예정된 {!$Record.ServiceContents__r.Name}을/를 취소하셨습니다.
취소 사유
{!$Record.Description__c}</text>
    </textTemplates>
    <textTemplates>
        <name>CompleteEmailBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>안녕하세요 {!ReceiverName}님

{!InstructorName}님께서 {!fm_StartDate}일에  {!$Record.Customer__r.Name} 고객사님께 제공하기로 예정된 {!$Record.ServiceContents__r.Name}을/를 완료하였습니다.

완료 내용
{!$Record.Description__c}

부가서비스 내역의 세부 사항을 보려면 다음 링크를 클릭하십시오.
{!fm_RecordLink}</text>
    </textTemplates>
    <textTemplates>
        <name>CompleteEmailSubjectTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[부가서비스 완료] / {!fm_StartDate} / {!$Record.Customer__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>CompleteNotiBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!InstructorName}님께서 {!fm_StartDate}일에  {!$Record.Customer__r.Name} 고객사님께 제공하기로 예정된 {!$Record.ServiceContents__r.Name}을/를 완료하였습니다.
완료 내용
{!$Record.Description__c}</text>
    </textTemplates>
    <variables>
        <name>CustomNotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InstructorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Instructor__r.LastName</elementReference>
        </value>
    </variables>
    <variables>
        <name>ReceiverIdVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Owner:User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ReceiverName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Owner:User.LastName</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecevierId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
