force-app/main/default/flows/OilProductPriceListFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>FindOutDup</name>
        <label>FindOutDup</label>
        <locationX>226</locationX>
        <locationY>338</locationY>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>Not_Dup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsthereSameRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCJOilRecord</targetReference>
            </connector>
            <label>Not Dup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is1stDay</name>
        <label>Is1stDay</label>
        <locationX>302</locationX>
        <locationY>117</locationY>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>Its1stDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fm_Is1stDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminUser</targetReference>
            </connector>
            <label>Its1stDay</label>
        </rules>
    </decisions>
    <formulas>
        <name>fm_CJOilRecordName</name>
        <dataType>String</dataType>
        <expression>Text(Year(Today()))&amp;&quot;년&quot;&amp;&quot; &quot;&amp;Text(Month(Today()))&amp;&quot;월&quot;&amp;&quot; &quot;&amp;&quot;CJ 해피 가격&quot;</expression>
    </formulas>
    <formulas>
        <name>fm_CompetitorPriceName</name>
        <dataType>String</dataType>
        <expression>Text(Year(Today()))&amp;&quot;년&quot;&amp;&quot; &quot;&amp;Text(Month(Today()))&amp;&quot;월&quot;&amp;&quot; &quot;&amp;{!LoopCreateCompetitiorPriceList.Name}&amp;&quot; 가격&quot;</expression>
    </formulas>
    <formulas>
        <name>fm_Is1stDay</name>
        <dataType>Boolean</dataType>
        <expression>Day(Today()) = 1</expression>
    </formulas>
    <formulas>
        <name>fm_month</name>
        <dataType>String</dataType>
        <expression>Text(Month(Today()))</expression>
    </formulas>
    <formulas>
        <name>fm_Year</name>
        <dataType>String</dataType>
        <expression>Text(Year(Today()))</expression>
    </formulas>
    <interviewLabel>대두유 시세현황 플로 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>대두유 시세현황 플로</label>
    <loops>
        <name>LoopCreateCompetitiorPriceList</name>
        <label>LoopCreateCompetitiorPriceList</label>
        <locationX>868</locationX>
        <locationY>355</locationY>
        <collectionReference>GetAcitveCompetitor</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateCompetitor</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCJOilRecord</name>
        <label>CreateCJOilRecord</label>
        <locationX>633</locationX>
        <locationY>355</locationY>
        <assignRecordIdToReference>CJPriceRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>GetAcitveCompetitor</targetReference>
        </connector>
        <inputAssignments>
            <field>Month__c</field>
            <value>
                <elementReference>fm_month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fm_CJOilRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>fm_Year</elementReference>
            </value>
        </inputAssignments>
        <object>CJOilPrice__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCompetitor</name>
        <label>CreateCompetitor</label>
        <locationX>868</locationX>
        <locationY>476</locationY>
        <connector>
            <targetReference>LoopCreateCompetitiorPriceList</targetReference>
        </connector>
        <inputAssignments>
            <field>CJ__c</field>
            <value>
                <elementReference>CJPriceRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>LoopCreateCompetitiorPriceList.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>KRW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month__c</field>
            <value>
                <elementReference>fm_month</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fm_CompetitorPriceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>fm_Year</elementReference>
            </value>
        </inputAssignments>
        <object>CompetitorPrice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>AdminUser</name>
        <label>AdminUser</label>
        <locationX>50</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCJOilPrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <stringValue>admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAcitveCompetitor</name>
        <label>GetAcitveCompetitor</label>
        <locationX>751</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCreateCompetitiorPriceList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Competitor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCJOilPrice</name>
        <label>GetCJOilPrice</label>
        <locationX>51</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindOutDup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fm_month</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fm_Year</elementReference>
            </value>
        </filters>
        <object>CJOilPrice__c</object>
        <outputAssignments>
            <assignToReference>IsthereSameRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is1stDay</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-06</startDate>
            <startTime>10:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CJPriceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsthereSameRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
