force-app/main/default/flows/ServiceUpdateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>DecisionToMakeEvent</name>
        <label>Decision To Make Event</label>
        <locationX>973</locationX>
        <locationY>470</locationY>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>CreateEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>승인</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateInstructorRecord</targetReference>
            </connector>
            <label>Create Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>ThirdInstructor</name>
        <label>Third Instructor</label>
        <locationX>1619</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>CreateInstructor3Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instructor3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateInstructor3Record</targetReference>
            </connector>
            <label>CreateInstructor3Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>TwoInstructor</name>
        <label>Two Instructor</label>
        <locationX>1299</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>CreateInstructor2Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instructor2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateInstructor2Record</targetReference>
            </connector>
            <label>CreateInstructor2Event</label>
        </rules>
    </decisions>
    <interviewLabel>Service Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateInstructor2Record</name>
        <label>CreateInstructor2Record</label>
        <locationX>1479</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>ThirdInstructor</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.fm_ServiceEndDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Instructor2__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.ServiceStartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.ServiceContents__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>부가서비스</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateInstructor3Record</name>
        <label>CreateInstructor3Record</label>
        <locationX>1620</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.fm_ServiceEndDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Instructor3__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.ServiceStartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.ServiceContents__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>부가서비스</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateInstructorRecord</name>
        <label>CreateInstructorRecord</label>
        <locationX>1151</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>TwoInstructor</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.fm_ServiceEndDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Instructor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.ServiceStartDateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.ServiceContents__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>부가서비스</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>UpdateServiceInstructorId</name>
        <label>Update Service InstructorId</label>
        <locationX>848</locationX>
        <locationY>368</locationY>
        <connector>
            <targetReference>DecisionToMakeEvent</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>$Record.ServiceContents__r.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructor__c</field>
            <value>
                <elementReference>$Record.ServiceContents__r.Instructor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.ServiceContents__r.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>722</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>UpdateServiceInstructorId</targetReference>
        </connector>
        <object>ExtraService__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InstructorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
