force-app/main/default/flows/StockChangeLogNew.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>STOCKChangeLog_to_SAP</name>
        <label>재고변경시  SAP 송신</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>IF_SFDC_SAP_SAND_STOCK</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AcitionInit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listTargetId</name>
            <value>
                <elementReference>setStockLogId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>재고변경시 재고변경내역을 생성한다.</description>
    <interviewLabel>재고변경시 재고변경내역 생성 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>재고변경시 재고변경내역 생성</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>재고변경시 재고변경내역 레코드를 생성한다.</description>
        <name>StockChangeLogNew</name>
        <label>재고변경내역생성</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignRecordIdToReference>setStockLogId</assignRecordIdToReference>
        <connector>
            <targetReference>STOCKChangeLog_to_SAP</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>$Record.Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BATCH__c</field>
            <value>
                <elementReference>$Record.BATCH__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChangeQuantity__c</field>
            <value>
                <elementReference>$Record.MENGE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LGORT__c</field>
            <value>
                <elementReference>$Record.LGORT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MAKTX__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MATNR__c</field>
            <value>
                <elementReference>$Record.MATNR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MAT_TYP__c</field>
            <value>
                <elementReference>$Record.MAT_TYP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MEINS__c</field>
            <value>
                <elementReference>$Record.MEINS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STOCKKEY__c</field>
            <value>
                <elementReference>$Record.STOCKKEY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STOCK__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StockQuantity__c</field>
            <value>
                <elementReference>$Record__Prior.MENGE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stocktakingDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>StockChangeLog__c</object>
    </recordCreates>
    <recordUpdates>
        <name>AcitionInit</name>
        <label>처리방안 초기화</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xmsgs__c</field>
            <value>
                <stringValue>화면을 새로고침 해주세요.</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StockChangeLogNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MENGE__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isSystemJob__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>STOCK__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>setStockLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
