force-app/main/default/flows/UpdateValidationinExtraService.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignvalid</name>
        <label>assignvalid</label>
        <locationX>1027</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>$Record.Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>CountRecord</name>
        <label>CountRecord</label>
        <locationX>864</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>TodayEventCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getevent_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsExceedOrNot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ItsExceed</name>
        <label>It&apos;s Exceed</label>
        <locationX>1329</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>$Record.Validation_Exceed_Apply__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>checkeventdatetime</name>
        <label>checkeventdatetime</label>
        <locationX>1010</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkeventdatetimevalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceStartDateTime__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loop.EndDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Datetime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loop.StartDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignvalid</targetReference>
            </connector>
            <label>checkeventdatetimevalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsExceedOrNot</name>
        <label>IsExceedOrNot</label>
        <locationX>1058</locationX>
        <locationY>973</locationY>
        <defaultConnectorLabel>기본 결과</defaultConnectorLabel>
        <rules>
            <name>Exceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TodayEventCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ItsExceed</targetReference>
            </connector>
            <label>Exceed</label>
        </rules>
    </decisions>
    <formulas>
        <name>Datetime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.ServiceStartDateTime__c} + {!$Record.ProgressTime__c}/24</expression>
    </formulas>
    <formulas>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <expression>DateValue({!$Record.ServiceStartDateTime__c})</expression>
    </formulas>
    <interviewLabel>Update Validation in Extra Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Validation in Extra Service</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>583</locationX>
        <locationY>526</locationY>
        <collectionReference>getevent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkeventdatetime</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getevent_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getevent</name>
        <label>getevent</label>
        <locationX>430</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>(1 or 5 or 6 ) and 4 and (2 or 3)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceContents__r.Instructor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>휴가</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>부가서비스</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceContents__r.Instructor2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceContents__r.Instructor3__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getevent_0</name>
        <label>getevent</label>
        <locationX>595</locationX>
        <locationY>770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountRecord</targetReference>
        </connector>
        <filterLogic>(1 or 6 or 7) and 4 and (2 or 3) and 5</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceContents__r.Instructor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>휴가</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>부가서비스</stringValue>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceContents__r.Instructor2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceContents__r.Instructor3__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExtraServiceInfo</name>
        <label>UpdateExtraServiceInfo</label>
        <locationX>425</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>getevent</targetReference>
        </connector>
        <inputAssignments>
            <field>AddressDetail__c</field>
            <value>
                <elementReference>$Record.Customer__r.AddressDetails__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Customer__r.Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>$Record.ServiceContents__r.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructor2__c</field>
            <value>
                <elementReference>$Record.ServiceContents__r.Instructor2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructor3__c</field>
            <value>
                <elementReference>$Record.ServiceContents__r.Instructor3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructor__c</field>
            <value>
                <elementReference>$Record.ServiceContents__r.Instructor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>$Record.Customer__r.PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>UpdateExtraServiceInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceContents__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ExtraService__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_GetCurrentDateEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>TodayEventCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
